.sidebar {
  container-type: inline-size;
  container-name: sidebar;
}

.icon-title {
  display: block;
}

.icon-button-wrapper {
  margin-left: 0.5rem;
}

.link-wrapper {
  justify-content: flex-start;
}

@container sidebar (max-width: 9rem) {
  .icon-title {
    display: none;
  }

  .link-wrapper {
    justify-content: center;
  }
  .icon-button-wrapper {
    margin-left: 0;
  }
}